@charset "utf-8";
/* CSS Document */

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas { 
 height: 50%; width:50%;
 margin: 10px;
 float: left;
 min-height:400px;
 }
#map_content
{
	 min-height:100%;

}
#pointInfo
{
	float:left;
	width:40%;
	height:50%;
	font: normal 26px Arial;
	margin:10px;
	color: #00aa32;
	text-align:center;
	position: relative;
	min-height:400px;
	position:relative;

}
#btnAddPoint
{
	margin-left:10px;
}
 
.error{
	border-color:#F00;
}
#pointContent{
	font-family:Verdana, Geneva, sans-serif;
	color:#006;
	width:250px;
	font-size: 14px;
	overflow:visible;
 
}
.spnPointInfo
{
   
   font-weight: normal;
   line-height: 20px;
   color: #00aa32;
   font-size:14px;
   line-height:20px;
   
}

.rightimg  {
    float: right;  
    margin: 7px 7px 7px 7px; 
   }
#infoWTitle{
	font:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#063;
	text-decoration:underline;
	
   }
.infoSubTitle
{
	color:#063;
	
}
.spnInfo{
	color:gray;
	font-size:80%;
}
.footer2 {
    width: 100%;
    background: #ecf0f1;
    height: 88px;
	margin-top:-88px;   
}

.copyright { margin: 20px }
.copyright-img { margin-left: 500px }
.copyright-img img {
    max-width: 100px;
    height: 80px;
}
#logo-title { margin-top: 10px }
.white-text { color: #ecf0f1 }
#text-title { margin-top: -10px }