/*
@import "battery.css";
@import "battery-horizontal.css";
*/

#map_canvas {
    height: 200px;
    width: 100%;
}

#dashboard {
    display: none;
    padding: 30px;
    margin-bottom: 50px;
    border: 1px solid red;
}

#dashboard-load {
    border-radius: 10px;
    text-align: center;
    padding-top: 50px;
}

#dashboard-load .icon-lightbulb {
    font-size: 160px;
    color: #fff;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background: #ccc;
    padding-top: 20px;
    margin: 0 auto;
}

#dashboard-load #load-indication {
    margin-top: 10px;
}

#dashboard-load #lp {
    font-family: 'Days One', sans-serif;
    font-size: 32px;
    color: #444;
}

#dashboard-load #load-descr {
    font-weight: bold;
    color: #999;
}

#dashboard-mec {
    background: #f0f0f0;
    border-radius: 10px;
    padding: 15px 25px 15px 10px;
}

#connection-info {
    background: #ddd;
    margin: 50px 0;
    padding: 15px 40px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    opacity: 0.75;
    display: block;
}

#connection-info .icon-warning {
    /*
    color: #d22;
    */
}

#infoblock-countdown {
    float: right;
    font-size: 12px;
    padding-top: 5px;
}

#infoblock-countdown .icon-clock {
    font-size: 12px;
}

#dashboard-mec .block-rel {
    height: 270px;
}

#dashboard-mec div[class^='col-'] {
    /*
    border: 1px solid red;
    */
}

.block-rel {
    position: relative;
}

.block-rel > div {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 0 auto;
}

#top {
    margin-left: -125px;
}

#wtop {
    margin-left: -100px;
}

#sbop {
    margin-left: -75px;
    padding-bottom: 3px;
}

#trv {
    position: absolute;
    left: 50%;
    margin-left: 55px;
    font-family: 'Days One', sans-serif;
    font-size: 12px;
    bottom: 10px;
    z-index: 0;
}

.ico {
    z-index: 1;
    position: absolute;
    width: 100%;
    padding-right: 10px;
    text-align: center;
    color: #777;
}

#ico-power {
    bottom: 160px;
    font-size: 32px;
}

#ico-wtop {
    bottom: 125px;
    font-size: 32px;
}

#ico-sbop {
    bottom: 100px;
    color: #ddd;
    font-size: 28px;
    padding-right: 0;
}

#battery {
    font-family: 'Days One', sans-serif;
    float: right;
    vertical-align: top;
    line-height: 2.9em;
}

#battery [class^="icon-battery-"], #battery [class*=" icon-battery"] {
    font-size: 40px;
    color: #555;
}

#battery #bcl {
    float: left;
}

#btn-map-show {
    margin-top: 10px;
}

#btn-map-hide {
    margin-top: 10px;
    display: none;
}