/*
@import "battery.css";
@import "battery-horizontal.css";
*/

#map_canvas {
    height: 200px;
    width: 100%;
}

#dashboard {
    display: none;
    padding: 30px;
}

#dashboard-load {
    border-radius: 10px;
    text-align: center;
    padding-top: 50px;
}

#dashboard-load .icon-lightbulb {
    font-size: 160px;
    color: #fff;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background: #ccc;
    padding-top: 20px;
    margin: 0 auto;
}

#dashboard-load #load-indication {
    margin-top: 10px;
}

#dashboard-load #lp {
    font-family: 'Days One', sans-serif;
    font-size: 32px;
    color: #444;
}

#dashboard-load #load-descr {
    font-weight: bold;
    color: #999;
}

#dashboard-mec {
    background: #f0f0f0;
    border-radius: 10px;
    padding: 15px 25px 15px 10px;
}

#connection-info {
    background-color: #fdd;
    padding: 15px 15px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    border-top: 2px solid #fdd;
    border-bottom: 4px solid #D55;
    border-radius: 5px 5px 0 0;
    opacity: 0.75;
    display: none;
}

#connection-info .icon-warning {
    /*
    color: #d22;
    */
}

#infoblock-countdown {
    text-align: center;
    font-size: 14px;
    margin: 25px 0;
    background-color: #fafafa;
    border-bottom: 1px solid #f5f5f5;
    border-radius: 5px;
    display: none;
}

#infoblock-countdown p {
    margin: 0;
    padding: 10px;
}

#infoblock-countdown .icon-clock {
    font-size: 12px;
}

#dashboard-mec .block-rel {
    height: 270px;
}

.block-rel {
    position: relative;
}

.block-rel > div {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 0 auto;
}

#dashboard #top {
    margin-left: -125px;
}

#dashboard #wtop {
    margin-left: -100px;
}

#dashboard #sbop {
    margin-left: -75px;
    padding-bottom: 3px;
}

#dashboard #trv {
    position: absolute;
    left: 50%;
    margin-left: 55px;
    font-family: 'Days One', sans-serif;
    font-size: 12px;
    bottom: 10px;
    z-index: 0;
}

.ico {
    z-index: 1;
    position: absolute;
    width: 100%;
    padding-right: 10px;
    text-align: center;
    color: #777;
}

#ico-power {
    bottom: 160px;
    font-size: 32px;
}

#ico-wtop {
    bottom: 125px;
    font-size: 32px;
}

#ico-sbop {
    bottom: 100px;
    color: #ddd;
    font-size: 28px;
    padding-right: 0;
}

#battery {
    font-family: 'Days One', sans-serif;
    float: right;
    vertical-align: top;
    line-height: 2.9em;
}

#battery [class^="icon-battery-"], #battery [class*=" icon-battery"] {
    font-size: 40px;
    color: #555;
}

#battery #bcl {
    float: left;
}

.btn-map {
    border-top: 2px solid #222;
    display: block;
    margin: 0 auto;
}

.btn-map button {
    border: 0;
    border-radius: 0 0 5px 5px;
    padding: 5px 25px 8px;
    background-color: #999;
    color: #fff;
}

#btn-map-show {

}

#btn-map-hide {
    display: none;
}

#chart {
    display: block;
    margin: 25px 0 50px;
    width: 100%;
    height: 500px;
}

#dashboard-lite {
    font-family: 'Days One', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #222;
    border-radius: 0 0 10px 10px;
}

#dashboard-lite > div {
    padding-bottom: 15px;
}

#dashboard-lite div div {
    padding: 15px 15px;
    background: #333;
    border-radius: 0 0 10px 10px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

#dashboard-lite [class^="icon-"] {
    margin-right: 10px;
}

#info-mec-offline {
    text-align: center;
    background-color: #f0f0f0;
    padding: 15px 25px;
    border-bottom: 2px solid #222;
    display: none;
}

#info-mec-offline h1 {
    font-size: 24px;
    font-weight: bold;
    color: #555;
}
